
:root {
   --gray-text: #ADB7B9;
   --blue-text: #86ddff;
   --dark-blue: #002b8f;
   --mid-blue: #3ba0ff;
   --cool-blue: #1166C0;
   --dark-black: #080800;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: var(--dark-black);
   font-family: Arial, sans-serif;
   font-size: 16px;
   min-height: 100vh;
}

html {
   scroll-behavior: smooth;
   width: 100%;
}

/* Nav Desktop */
.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.125em;
   color: var(--gray-text);
   border-bottom: 0.025em solid #33353f;
   box-shadow: 0em .0em .995em rgba(141, 150, 235, 0.836);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--dark-black);
   z-index: 999;
   transition: top 1s ease, opacity .3s;
}

/* Logo */
img.logo {
   width: 90px;
   height: 90px;
   margin-left: 8rem;
   border-radius: 50%;
}

/* Mobile nav bar */
#mobile-nav {
   display: none;
}

.nav ul {
   list-style: none;
   display: flex;
   margin-right: 100px;
   gap: 2.4em;
}

.nav li {
   font-size: 1.255rem;
}

.nav li a {
   text-decoration: none;
   color: var(--mid-gray);
}

.nav li a:hover {
   color: #ffff;
}

.lang-links {
   display: flex;
   gap: 1.875em;
   list-style: none;
   margin-left: 2em;
}

.language-link {
   position: relative;
}

.flag-icon {   
   display: inline-block;
   width: 2.75rem;
   height: 2.75rem;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: opacity 0.3s, transform 0.3s;
}

.language-link.en:hover .flag-icon {
   background-image: url(images/us-flag.png);
   transform: translate(-50%, -50%) scale(1);
   opacity: 1;
}

.language-link.sp:hover .flag-icon {
   background-image: url(images/spain-icon.png);
   transform: translate(-50%, -50%) scale(1);
   opacity: 1;
}

.mobile-links > ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 6%;
   list-style: none;
   height: 10vh;
   background-color: rgba(100, 100, 100, 0.2);
}

.mobile-links li a {
   display: block;
   color: #fff;
   text-decoration: none;
   font-size: 1.2rem;
}

.mobile-links a:hover {
   color: var(--blue-text);
   font-weight: bolder;
}

/* Intro */
#hello-intro {
   width: auto;
   margin: 10rem 0 0 8rem;
   display: flex;
   align-items: center;
}

.intro-text {
   width: 54%;
}

.intro-img {
   width: 40%;
   height: auto;
   text-align: center;
   position: relative;
   overflow: hidden;
}

.intro-img img {
   width: 120%;
   height: auto;
   display: block;
   margin-left: -10%;
   position: relative;
   clip-path: polygon(20% 0, 80% 0, 80% 100%, 20% 100%);
   
}

.circle-background {
   position: absolute;
   top: 48%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 65%;
   padding-top: 65%;
   background-color: hsl(0, 0%, 6%);
   border-radius: 50%;
   z-index: -1;
}

h1 {
   font-size: 3.2rem;
   font-weight: 700;
   color: #1166C0;
   margin-bottom: -1.6rem;
}

.name {
   color: #ffff;
   font-size: 3.3rem;
   font-weight: 700;
}

#hello-intro p {
   margin: .40em 0 2em;
   width: auto;
   font-size: 1.25em;
   color: var(--gray-text);
   line-height: 1.3rem;
}

/* Intro Links */
.intro-links {
   width: auto;
   margin: 2rem .68em 0 0;
}

/* Hire Link */
.hire {
   position: relative;
   border: 2px solid #0360df;
   border-radius: 50px;
   padding: 1rem 2rem;
   min-width: 8em;
   background-color: #0360df;
   background-image:
      radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
      radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
   box-shadow:
      inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
      inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
      inset 0 0 2px 1px rgba(255, 255, 255, .2),
      0 1px 4px 1px rgba(17, 110, 231, .2),
      0 1px 4px 1px rgba(0, 0, 0, .1);
   font-size: 1.1em;
   color: #fff;
   text-align: center;
   text-decoration: none;
   text-shadow: 0 1px 1px #116ee7;
   transition-property: border-color, transform, background-color;
   transition-duration: .2s;

   &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50px;
      width: 82%;
      height: 40%;
      background-image: linear-gradient(to bottom, #f4feff, transparent);
      opacity: .75;
   }

   &:hover {
      transform: scale(1.04);
      background-color: var(--dark-blue);
      background-image: none;
      background-image:
         radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
         radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
      box-shadow:
         inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
         inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
         inset 0 0 2px 1px rgba(255, 255, 255, .2),
         0 1px 4px 1px rgba(17, 110, 231, .2),
         0 1px 4px 1px rgba(0, 0, 0, .1);
   }

   &:active {
      border-color: #0048d5;
      transform: scale(.96);
      background-color: var(--dark-black);
   }
}

/* Resume Link */
.resume-cta {
   position: relative;
   border: 2px solid #0360df;
   border-radius: 2.5rem;
   padding: 1rem 2rem;
   min-width: 8rem;
   background-color: #0360df;
   color: #fff;
   font-size: 1.1em;
   text-align: center;
   text-decoration: none;
   transition-property: border-color, transform, background-color;
   transition-duration: .2s;
   background-image:
         radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
         radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
   box-shadow:
      inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
      inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
      inset 0 0 2px 1px rgba(255, 255, 255, .2),
      0 1px 4px 1px rgba(17, 110, 231, .2),
      0 1px 4px 1px rgba(0, 0, 0, .1);
   &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50px;
      width: 85%;
      height: 40%;
      background-image: linear-gradient(to bottom, #f4feff, transparent);
      opacity: .75;
   }

   &:hover {
      transform: scale(1.04);
      background-color: var(--dark-blue);
      background-image: none;
      background-image:
         radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
         radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
      box-shadow:
         inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
         inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
         inset 0 0 2px 1px rgba(255, 255, 255, .2),
         0 1px 4px 1px rgba(17, 110, 231, .2),
         0 1px 4px 1px rgba(0, 0, 0, .1);
   }

   &:active {
      border-color: #0048d5;
      transform: scale(.96);
      background-color: rgb(0, 0, 0);
   }
}

/* About Me Section */
#about-me {
   margin: 1200px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   overflow: hidden;
   border-radius: 1rem;
}

.skills-set {
   text-align: center;
   margin-bottom: 20px;
   color: var(--cool-blue);
   font-size: 1.4em;
   font-weight: 600;
}

/* Skills list */
.skills {
   margin: 10px 40px 10px;
   display: grid;
   font-size: 1.14rem;
   grid-gap: .30rem;
}

/* Style the list items */
.skills li {
   display: flex;
   align-items: center;
   background-color: #111831;
   color: #ffff;
   padding: 20px;
   border-radius: 0.35rem;
   justify-content: center;
   text-align: center;
   position: relative;
   font-weight: 400;
   list-style-type: none;
   list-style-position: inside;
}

/* Manually creates the bullet/marker */
.skills li::before {
   content: '•';
   color: var(--cool-blue);
   font-size: 18px;
   margin-right: 10px;
   display: inline-block;
}

.about-text h2 {
   margin-bottom: .2rem;
   font-size: 2.2em;
   color: var(--cool-blue);
}

.about-text p {
   width: 80%;
   font-size: 1.25em;
   font-weight: 100;
   color: var(--gray-text);
   line-height: 1.3rem;
}

hr {
   border: none;
   border-top: 0.0625em solid #33353f;
   width: 65%;
   margin: 1rem auto 2rem;
   border-radius: 0.3125rem;
}

/* PROJECT SECTION */
.project-header {
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10rem;
   color: var(--cool-blue);
}

.project-container {
   width: 100%;
   height: auto;
   margin-bottom: 6.5rem;
}

.projects {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: wrap;
}

.project-item {
   /* width: 17.5rem; */
   width: 300px!important;
   height: 16.5em;
   background-color: #fff;
   position: relative;
   box-shadow: -.25rem 0.4375rem .95rem rgba(129, 138, 221, 0.836);
   border-radius: 0.625rem;
   margin: 1.6rem!important;
   background-size: 100%;
   background-repeat: no-repeat;
}

.huddle-project {
   background-image: url(images/huddle.png);
}

.golf-simulator {
   background-image: url(images/golf-sim-confetti.PNG);
}

.base-project {
   background-image: url(images/base-apprl.png);
}

.newsletter-project {
   background-image: url(images/newsletter.png);
}

.fylo-project {
   background-image: url(images/fylo.png);
}

.cc-details-project {
   background-image: url(images/cc-details.png);
}

.time-tracker-project {
   background-image: url(images/time-tracker.png);
}

.social-proof-project {
   background-image: url(images/social-proof.png);
}

.four-card-project {
   background-image: url(images/four-card.png);
}

.bucket-list-project {
   background-image: url(images/bucket-list.png);
}

.clipboard-project {
   background-image: url(images/clipboard.png);
}

.text-container {
   position: absolute;
   height: 1.625em;
   width: 100%;
   text-align: center;
   padding-top: 1.25em;
   padding-bottom: 4em;
   z-index: 2;
   left: 0;
   bottom: 0;
   background-color: #fff;
   overflow: hidden;
   box-shadow: 0 -0.0625em 1.875em rgba(0, 0, 0, 0.2);
   border-bottom-right-radius: 0.3125em;
   border-bottom-left-radius: 0.3125em;
   border-top: .05rem solid rgba(0, 0, 0, 0.2);
   transition: height .6s ease-in, background-color .6s ease-in;
}

.text-container:hover {
   height: 100%;
   border: 1px solid var(--blue-text);
   transition: height .2s ease-out, background-color .5s ease-out;
   background-image: linear-gradient(rgba(255, 255, 255, 0.5), var(--cool-blue));
   border-radius: 0.625em;
}

h2.name {
   margin: .225em 0.625em -.015em;
   color: var(--cool-blue);
   font-size: 1.7em;
   font-weight: 600;
   text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
   padding: 2em 0.95em 1.25em;
   margin-top: 0.625em;
   color: white;
   font-size: 1rem;
   font-weight: 600;
   text-shadow: -2px 2px 4px rgba(0, 0, 0, 1);
}

.button {
   border: 2px solid var(--blue-text);
   width: 200px;
   box-shadow: -0.9375em 0.4375em 1.875em rgba(0, 0, 0, 0.2);
   padding: 0.4em;
   border-radius: 0.5125em;
   margin: 18px auto 25px;
   display: flex;
   justify-content: center;
   background-color: white;
   text-decoration: none;
}

h3, h4 {
   color: var(--cool-blue);
   list-style-type: none;
   font-size: 1.25em;
}

#bottom h4{
   font-size: 1.8em;
}


/* Bottom Section */
section#bottom {
   margin: 8rem;
   width: 88%;
   display: flex;
   justify-content: space-around;
   align-items: top;
   color: #ffff;
}

.bottom-text {
   width: 40%;
   margin-top: .4em;
   margin-right: 1.4rem;
}

#bottom p {
   margin: .5rem 0 1rem 0;
   font-size: 1.25em;
   color: var(--gray-text);
   line-height: 1.3rem;
}

.social-icons {
   display: flex;
   font-size: 2.4em;
   color: #ffff;
   gap: 0.55em;
}

.circle2-background {
   position: absolute;
   margin: -3.5rem 0 0 .6rem;
   padding: .5rem;
   width: 24.875rem;
   height: 24.875rem;
   z-index: -1;
}

.circle2-background::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle, 
      #002b8f 0%, 
      hsla(240, 13%, 3%, 0.7) 70%,
      hsl(0, 0%, 4%) 80%,
      transparent 100%);
   border-radius: 50%;
   z-index: -1;
}

.social-icons i {
   color: #ffff;
}

.social-icons i:hover {
   color: var(--cool-blue);
}

.social-icons a {
   display: inline-block;
   transition: transform 0.25s ease-in-out;
}

.social-icons a:hover {
   transform: rotateY(360deg) scale(1.48);
}

/* Form */
.box {
   margin: 0 auto;
   margin-right: 2rem;
   position: relative;
   align-items: center;
   width: 780px;
   height: 456px;
   background-color: var(--dark-black);
   box-shadow: -.25em .15em 1em rgba(104, 98, 98, 0.6);
   border-radius: 50px 5px;
   overflow: hidden;
}

.box form {
   display: flex;
   flex-direction: column;
   position: absolute;
   inset: 0.0655rem;
   border-radius: 50px 5px;
   z-index: 10;
   padding: 50px 30px;
}

.box {
   position: relative;
   align-items: center;
   width: 50%;
   height: 500px;
   background-color: var(--dark-black);
   box-shadow: -.25em .15em 1em rgba(104, 98, 98, 0.6);
   border-radius: 50px 5px;
   overflow: hidden;
}

form {
   display: flex;
   flex-direction: column;
   position: absolute;
   inset: 0.054em;
   border-radius: 50px 5px;
   background-color: var(--dark-black);
   z-index: 10;
   padding: 50px 30px;
}

.box label {
   color: #ffff;
   font-size: .95em;
   padding-bottom: .5em;
   letter-spacing: .04em;
}

.box::before {
   content: '';
   position: absolute;
   top: -50%;
   left: -50%;
   width: 990px;
   height: 890px;
   background: linear-gradient(60deg, var(--blue-text), var(--blue-text));
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
}

.box::after {
   content: '';
   position: absolute;
   top: -50%;
   left: -50%;
   width: 990px;
   height: 890px;
   background: linear-gradient(60deg, var(--cool-blue), var(--cool-blue));
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   animation-delay: -3s;
}

.box.show-message::before,
.box.show-message::after {
   display: none;
}

/* Box animation */
@keyframes animate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.box {
   animation: fadeIn 1s ease-in-out;
}

.box input {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1.5px solid #33353f;
   border-radius: 8px;
   font-size: 1em;
}

 #email, #subject {
   background-color: #18191E;
   color: #ffff;
   margin-bottom: 1.65em;
   letter-spacing: .05em;
   border-radius: 8px;
}

textarea {
   width: 100%;
   height: 4.5rem;
   font-size: 1em;
   padding: 10px;
   margin-bottom: 1.4em;
   border: 1px solid #33353f;
   color: #ffff;
   background-color: #18191E;
   border-radius: 7px;
   resize: vertical;
}

::placeholder {
   color: rgb(90, 90, 90);
}

/* Styles for the submit button */
button {
      position: relative;
      border: 1px solid #0360df;
      border-radius: 50px;
      padding: .5em .5em;
      margin-top: .6rem;
      min-width: 8em;
      background-color: #0360df;
      background-image:
         radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
         radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
      box-shadow:
         inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
         inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
         inset 0 0 2px 1px rgba(255, 255, 255, .2),
         0 1px 4px 1px rgba(17, 110, 231, .2),
         0 1px 4px 1px rgba(0, 0, 0, .1);
      font-size: 1.5em;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 1px #116ee7;
      transition-property: border-color, transform, background-color;
      transition-duration: .2s;

      &::after {
         content: '';
         position: absolute;
         top: 1px;
         left: 50%;
         transform: translateX(-50%);
         border-radius: 50px;
         width: 95%;
         height: 40%;
         background-image: linear-gradient(to bottom, #f4feff, transparent);
         opacity: .75;
      }
      &:hover {
         background-color: var(--dark-blue);
         background-image: none;
         cursor: pointer;
         background-image:
            radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
            radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
         box-shadow:
            inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
            inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
            inset 0 0 2px 1px rgba(255, 255, 255, .2),
            0 1px 4px 1px rgba(17, 110, 231, .2),
            0 1px 4px 1px rgba(0, 0, 0, .1);
      }

      &:active {
         border-color: #0048d5;
         transform: scale(.99);
         background-color: #0048d5;
         background-color: var(--dark-black);
      }
   }

button.dismiss  {
      position: relative;
      border: 2px solid #0360df;
      border-radius: 50px;
      padding: 16px 34px;
      margin-right: 0.50em;
      margin-top: 80px;
      min-width: 8em;
      background-color: #0360df;
      background-image:
         radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
         radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
      box-shadow:
         inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
         inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
         inset 0 0 2px 1px rgba(255, 255, 255, .2),
         0 1px 4px 1px rgba(17, 110, 231, .2),
         0 1px 4px 1px rgba(0, 0, 0, .1);
      font-size: 1.1em;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 1px #116ee7;
      transition-property: border-color, transform, background-color;
      transition-duration: .2s;

      &::after {
         content: '';
         position: absolute;
         top: 1px;
         left: 50%;
         transform: translateX(-50%);
         border-radius: 50px;
         width: 95%;
         height: 40%;
         background-image: linear-gradient(to bottom, #f4feff, transparent);
         opacity: .75;
      }

      &:hover {
         background-color: var(--dark-blue);
         background-image: none;
         cursor: pointer;
         background-image:
            radial-gradient(75% 50% at 50% 0%, #f4feff, transparent),
            radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
         box-shadow:
            inset 0 -2px 4px 1px rgba(17, 110, 231, .6),
            inset 0 -4px 4px 1px rgba(141, 227, 252, 1),
            inset 0 0 2px 1px rgba(255, 255, 255, .2),
            0 1px 4px 1px rgba(17, 110, 231, .2),
            0 1px 4px 1px rgba(0, 0, 0, .1);
      }

      &:active {
         border-color: #0048d5;
         background-color: #0048d5;
         background-color: var(--dark-black);
      }
   }

/* Additional styling for when input elements are in focus (clicked) */
.box input:focus,
.box textarea:focus {
   outline: none;
   border-color: white;
   box-shadow: 0 0 5px rgba(0, 116, 162, 0.5);
}

/* Card Form message */
.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   width: 100%;
   height: auto;
   margin: 100px auto 0;
}

.icon-card-2 {
   width: 50px;
}

.card h4 {
   font-size: 2.3rem;
   margin: 20px auto 10px;
}

.card span {
   font-size: 1.4rem;
}

.hide {
   display: none;
}

.card h1 {
   font-size: 40px;
   padding: 50px 0 0;
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border-top: 1px solid #33353f;
   border-bottom: 1px solid #33353f;
}

/* Style for the logo */
.logo {
   width: 30px;
   height: auto;
}

/* Style for the copyright notice */
.rights {
   margin-right: 4rem;
   color: #315569;
   font-size: 14px;
}


/* Media query for screens larger than 1620px */
@media (min-width: 1024px) {
   body {
      width: 100%;
      font-size: 1rem;
      margin-top: 128px;
   }

   .nav ul {
      margin-right: 60px;
      gap: 1.4em;
   }

   .nav li {
      font-size: 1.4rem;
   }

   #hello-intro {
      margin: 80px 0px 0px 6rem;
      font-size: 1.10rem;
   }

   .circle-background {
      position: absolute;
   }

   #about-me {
      margin: 50px auto 100px;
   }

   .project-header {
      margin-top: 3rem;
      font-size: 2.5em;
   }
   
   .project-item {
      margin: 1.2rem;
   }

   .project-item {
      width: 27.5rem;
      background-color: #fff;
      position: relative;
      box-shadow: -.25em 0.4375em .95em rgba(129, 138, 221, 0.836);
      border-radius: 0.625em;
      margin: 3.125em;
   }

   section#bottom {
      width: 90%;
      margin: 5rem auto;
   }

   .bottom-text {
      width: 80%;
      padding-right: 0;
   }

   #bottom p {
      width: 80%;
      margin-top: .25rem;
   } 

   .box {
      height: 450px;
      width: 800px;
   }
}

/* Media query for screens between 651px and 1024px */
@media (min-width: 766px) and (max-width: 1024px) {
   #hello-intro{
      margin: 6.8rem 0 0 3rem;
   }

   .intro-text {
      width: 55%;
   }

   h1, .name {
      font-size: 2.2rem;
      width: 100%;
   }

   .intro-links {
      display: flex;
      align-items: center;
   }

   img.logo {
      margin-left: 2.2rem;
      width: 4rem;
      height: 4rem;
   }

   a.hire {
      margin-right: .4rem;
      &::after {
         width: 80%;
      }
   }
   
   a.resume-cta {
      &::after {
         width: 90%;
      }
   }

   #about-me {
      margin: 60px auto;
      width: 92%;
      font-size: .88rem;
   }

   .skills-set {
      font-size: 1.4em;
      font-weight: 600;
   }

   li::marker {
      color: var(--cool-blue);
      margin-right: 2px;
      font-size: 14px;
   }

   .about-img img {
      display: none;
   }

   li.skills {
      font-size: 1.8rem;
      list-style-type: none;
      margin: 3rem 0 1rem -1rem;
      color: white;
   }

   .project-header {
      margin-top: 2rem;
      font-size: 2.4em;
   }

   #bottom {
      width: 100%;
   }

   #bottom-text {
      display: block;
      width: 100%;
   }

   section#bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
   }

   div.bottom-text {
      width: auto;
      margin-left: 2rem;
   }

   #bottom p {
      width: 90%;
   }

   .social-icons {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
   }

   .circle2-background {
      display: none;
   }

   .box {
      margin: 0 auto 2rem;
      width: 100%;
      height: 480px;
      box-shadow: none;
   }

   section#bottom {
      width: 80%;
   }

   .box input {
      padding: .84rem;
   }

   button {
      padding: .4rem;
   }

   /* Hides the pseudo-elements */
   .box::before,
   .box::after {
      display: none;
   }

   /* Sets background to transparent */
   .box {
      border-radius: 0;
      border: none;
   }

   .box form {
      background-color: none;
      border-radius: 0;
      border: none;
   }

   .rights {
      font-size: .6rem;
   }
}

@media (min-width: 391px) and (max-width: 766px) {   
   img.logo {
      margin: 0 .8rem 0rem 1rem;
      width: 4rem;
      height: 4rem;
   }

   #mobile-nav {
      position: relative;
      display: block;
      z-index: 9999;
   }

   .mobile-nav-bar {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 9999;
   }

   .mobile-nav-bar ul {
      background-color: rgba(0, 0, 0, 0.625);
      height: 8vh;
      display: flex;
      /* Uses flexbox to make the list items horizontal */
      justify-content: space-around;
      /* Distributes items evenly along the main axis */
      align-items: center;
      /* Aligns items vertically in the center */
      padding: 0;
      /* Removes default padding */
   }
   
   .mobile-nav-bar li {
    list-style: none; /* Removes default list styles */
   }

   .mobile-nav-bar a {
      display: block;
      color: white;
      width: 100%;
      font-size: 1.4rem;
   }
   
   .nav li {
      font-size: .90rem;
      margin-right: 1rem;
   }

   .nav ul {
      margin-right: 0;
      gap: .2rem;
   }

   div.lang-links {
      right: 0;
      margin-left: 0rem;
      gap: .2rem;
   }

   #hello-intro {
      width: 100%;
      margin: 80px auto 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   div.intro-text {
      width: 80%;
      font-size: .92rem;
   }

   h1 {
      width: 100%;
      text-align: center;
      font-size: 2.625rem;
      font-weight: 700;
      color: #1166C0;
      margin-bottom: -1.4rem;
   }

   span.name {
      color: white;
      font-size: 2.65rem;
      font-weight: 700;
   }

   #hello-intro p {
      width: 100%;
      padding-top: 20px;
      margin: 0 auto;
   }

   .intro-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 25px auto;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
   }

   .hire {
      margin: 14px 0;
   }

   a.hire,
   .resume-cta {
      width: 100%;
      margin-right: 0;

      &::after {
         width: 92%;
      }
   }

   .intro-img {
      width: 85%;
      height: auto;
      margin: 1rem 0;
   }

   #about-me {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem auto 2.6rem;
   }
   
   /* Ensure "My Skills" is centered and above the columns */
   .skills-set {
      grid-column: 1 / -1;
      /* Span across all columns */
      margin-bottom: 20px;
      font-size: 1.6em;
   }
   
   /* Set the skills list to display in two columns */
   .skills {
      grid-template-columns: repeat(2, 1fr);
      width: auto;
      justify-items: center;
   }

   /* Ensure each skill item takes full width inside its column */
   .skills li {
      width: 100%;
   }

   /* Adjust text in about section */
   .about-text {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
      font-size: 1.16em;
   }

   .about-text h2 {
      margin-top: 10px;
      font-size: 1.56em;
   }
   
   .about-text p {
      font-size: 1em;
      width: auto;
   }

   .project-header {
      font-size: 2rem;
      margin-top: 2.8rem;
   }

   .project-container {
      margin-bottom: 0;
   }

   .content {
      margin-top: 1.6rem;
      font-size: 1rem;
   }

   .button {
      width: 40%;
      padding: .6rem;
      border: .05rem solid var(--blue-text);
   }

   h2.name {
      font-size: 1.8rem;
      text-align: center;
      padding: 0;
   }

   h3 {
      font-size: 1rem;
   }

   .project-item {
      height: 18rem;
   }

   section#bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
   }

   div.bottom-text {
      width: auto;
      margin-left: 2rem;
   }

   #bottom p {
      width: 90%;
      line-height: 1.25rem;
   }

   .social-icons {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
   }

   .circle2-background {
      display: none;
   }

   .box {
      margin: 0 auto 2rem;
      width: 100%;
      height: 480px;
      box-shadow: none;
   }

   form {
      width: auto;
      margin-bottom: 2rem;
   }

   .box input {
      padding: .84rem;
   }

   button {
      padding: .4rem;
   }

   /* Hides the pseudo-elements */
   .box::before,
   .box::after {
      display: none;
   }

   /* Sets background to transparent */
   .box {
      border-radius: 0;
      border: none;
   }

   .box form {
      background-color: none;
      border-radius: 0;
      border: none;
      padding: 1.5rem auto;
   }

   .rights {
      margin-right: 2rem;
      font-size: .6rem;
   }

   footer {
      display: none;      
   }
}

/* Media Query  Styles for viewport width less than or equal to 391px */
@media (max-width: 391px) {
   img.logo {
      margin: 0 1.2rem 0 .4rem;
      width: 2.5rem;
      height: 2.5rem;
   }

   .nav-bar {
      margin-right: 2rem;
   }
   
   .nav ul {
      font-size: .6rem;
      margin-right: .0rem;
      gap: .6rem;
   }
   
   .nav li {
      font-size: .65rem;
   }

   #mobile-nav {
      position: relative;
      display: block;
      z-index: 9999;
   }

   .mobile-nav-bar {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 9999;
   }

   .mobile-nav-bar ul {
      background-color: rgba(0, 0, 0, 0.625);
      height: 8vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
   }
   
   .mobile-nav-bar li {
    list-style: none;
   }

   .mobile-nav-bar a {
      display: block;
      color: white;
      width: 100%;
      font-size: 1.4rem;
   }
   
   #hello-intro {
      width: 100%;
      margin: 80px auto 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   
   div.intro-text {
      width: 100%;
      font-size: .92rem;
   }
   
   h1 {
      width: 100%;
      text-align: center;
      font-size: 2.625rem;
      font-weight: 700;
      color: #1166C0;
      margin-bottom: -1.4rem;
   }
   
   span.name {
      color: white;
      font-size: 2.65rem;
      font-weight: 700;
   }
   
   #hello-intro p {
      margin: 0 auto;  
      width: 90%;
      padding-top: 20px;
      font-size: 1.18em;
   }

   .intro-links {
      display: flex;
      flex-direction: column;
      width: 78%;
      margin: 25px auto;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
   }

   .hire {
      margin: 14px 0;
   }

   a.hire, .resume-cta {
      width: 100%;
      margin-right: 0;
      &::after {
            width: 92%;
         }
   }

   .intro-img {
      width: 80%;
      height: auto;
      margin: 1rem;
   }

   #about-me {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: 1rem auto 1rem;
      width: 100%;
   }
   
   .about-text {
      width: 90%;
      text-align: center;
      font-size: 1.18em;
      line-height: .92em;
   }

   .about-text h2{
      font-size: 1.3em;
      margin-bottom: 20px;
   }

   .about-text p {
      font-size: .86em;
      width: 100%;
   }

   div.about-img {
      display: none;
   }

   ul.skills {
      /* margin-top: 44px; */
      margin: 44px 20px;
   }

   .project-header {
      font-size: 1.6rem;
      margin-top: 2rem;
   }

   .project-container {
      margin-bottom: 0;
   }

   .content {
      font-size: 1rem;
   }

   .button {
      width: 60%;
      padding: .6rem;
      border: .05rem solid var(--blue-text);
   }

   h2.name {
      font-size: 1.4rem;
      text-align: center;
      padding: 0;
   }

   h3 {
      font-size: 1rem;
   }

   .project-item {
      height: 18rem;
   }

   section#bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      margin-left: 1rem;
   }
   
   .bottom-text {
      width: auto;
      margin-left: 2rem;
      text-align: center;
      /* margin: 2rem auto; */
   }

   #bottom h4 {
      font-size: 1.4em;
   }
   
   #bottom p {
      margin: 6px auto 20px;
      width: 100%;
      font-size: 1.2em;
      line-height: .92em;
   }
   
   .social-icons {
      font-size: 1.6rem;
      text-align: center;
      justify-content: center;
      /* width: 88%; */
   }

   .circle2-background {
      display: none;
   }

   .box {
      margin: 0 auto 2rem;
      width: 100%;
      height: 480px;
      box-shadow: none;
   }

   form {
      width: 100%;
   }

   .box input {
      padding: .84rem;
   }

   button {
      padding: .4rem;
   }

   /* Hides the pseudo-elements */
   .box::before,
   .box::after {
      display: none;
   }

   /* Sets background to transparent */
   .box {
      border-radius: 0;
      border: none;
   }
   
   .box form {
      background-color: none;
      border-radius: 0;
      border: none;
      padding: 2.5rem auto;
   }

   footer {
      display: none;
   }
}