* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

:root {
   --base-font-size: 16px;
   --gray-text: #ADB7B9;
   --blue-text: #86ddff;
   --dark-blue: #002b8f;
   --mid-blue: #3ba0ff;
   --cool-blue: #1166C0;
   /* --mid-gray: #173 #183 #190/var(--tw-text-opacity) */
}

body {
   background-color: #080808;
   font-family: Arial, sans-serif;
   font-size: 1em;
}


/* Nav Desktop */
#nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.125em;
   color: var(--gray-text);
   border-bottom: 0.025em solid #33353f;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #080808;
   z-index: 100;
}

/* Logo */
img.logo {
   width: 5em;
   height: 5em;
   margin-left: 6.625em;
   border-radius: 50%;
}

.lang-links {
   display: flex;
   gap: 1.875em;
   list-style: none;
}

.language-link {
   position: relative;
}

.flag-icon {
   display: inline-block;
   width: 2.425em;
   height: 2.425em;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: .585em;
   transform: translate(-50%, -50%) scale(0);
   transition: opacity 0.3s, transform 0.3s;
}

.language-link.en:hover .flag-icon {
   background-image: url(images/us-flag.png);
   transform: translate(-50%, -50%) scale(1);
   opacity: 1;
}

.language-link.sp:hover .flag-icon {
   background-image: url(images/spain-icon.png);
   transform: translate(-50%, -50%) scale(1);
   opacity: 1;
}

#nav ul {
   list-style: none;
   display: flex;
   margin-right: 3em;
   gap: 2.4em;
}

#nav li {
   font-size: 1.255em;
}


#nav li a {
   text-decoration: none;
   color: var(--mid-gray);
}

#nav li a:hover {
   color: #ffff;
}


/* Intro */
#hello-intro {
   margin: 10em 0 0 5.625em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.intro-text {
   width: 55%;
}

.intro-img {
   width: 100%;
   height: auto;
}

.intro-img img {
   /* width: 120%;
   height: auto; */
   width: 45em;
   height: auto;
   display: block;
   margin: 0 -4em 0;
}

h1 {
   font-size: 3.625em;
   font-weight: 700;
   /* color: var(--mid-blue); */
   color: #1166C0;
   margin-bottom: -.48em;
}

.name {
   color: #ffff;
   font-size: 3.90em;
   font-weight: 700;
}

#hello-intro p {
   color: var(--gray-text);
   font-size: 1.25em;
   width: 33em;
   margin-top: .25em;
   line-height: 1.25em;
   margin: .40em 0 3em;
}

/* Intro Links */

.intro-links {
   margin: 2em .68em 0 0;
}

/* Hire Link */
.hire {
   color: #ffff;
   padding: 1.10em 1.55em;
   margin-right: 0.875em;
   background: linear-gradient(5deg, var(--blue-text), #1166C0);
   border: none;
   border-radius: 2.5rem;
   text-decoration: none;
}

/* Resume Link */
.resume-cta {
   color: #ffff;
   padding: 1.10em 1.55em;
   margin-right: 0.875em;
   background: linear-gradient(5deg, var(--blue-text), #1166C0);
   border: none;
   border-radius: 2.5rem;
   text-decoration: none;
}

/* About Section */
#about-me {
   margin: 8em 3.5em 0 5.625em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about-img {
   width: 50%;
}

.about-img img {
   width: 100%;
   height: 40%;
   display: block;
   margin: 0 auto;
}

.about-text {
   color: var(--gray-text);
   font-size: 1.1em;
   font-weight: 100;
   width: 65%;
   padding-left: 8em;
   margin-bottom: 5px;
   line-height: 1.5em;
}

h2 {
   color: #ffff;
   font-size: 2.2em;
   margin-bottom: .55em;
}

li.skills {
   color: #ffff;
   font-size: 1.15em;
   margin: 1.2em 0;
   list-style-type: none;
   position: relative;
}

li.skills::after {
   content: "";
   display: block;
   border-bottom: .18em solid var(--cool-blue);
   /* Adjust the thickness and color of the underline */
   margin-top: .28em;
   width: 4em;
   /* Adjust the spacing between text and underline */
}

ul.skills {
   margin: 6.3px 0 1.3em .10em;
   color: var(--mid-gray);
}

li::marker {
   color: var(--cool-blue);
}